
@font-face {
  font-family: AcuminProExtraCondensed;
  src: url("./fonts/AcuminProExtraCondensed-Bold.otf") format("opentype");
}

html {height: 100%;

}
body {
  height: 100%;
  font-family: Arial;
  padding: 0;
  margin: 0;

  .container-fluid {
    padding: 42px 0 0 0;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .navbar-toggle {
    border: 1px solid  #CE541F;
    color: #CE541F;

    .icon-bar {
      background-color: #CE541F;
    }

  }

  .background {
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
}
}
